 
        body {background-color: powderblue;}
        h1 {
          color: #FF69B4;
          font-family: verdana;
          font-size: 200%;
          text-align: center;
        }
        p {
          color: #FF69B4;
          font-family: courier;
          font-size: 190%;
          text-align: center;
        }
        li {color: blueviolet;
        font-family: courier;
        font-size: 120%;
        text-align: center;
        }
        td {color: black;
            font-family: courier;
            font-size: 120%;
            text-align: center;
            }
            table {
              width:1000px;
              table-layout:fixed;
              }
              .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              }